@(id: Long, updateProductForm: Form[models.Product], user: models.users.User)

@import models.Product

@import helper._

@productAdmin.main("Update Product", user) {
	<main>
		<div class="container">
			<h3 style='text-align: center;'>Update Product</h3>
		
			<div class="col-sm-12">
		
					@form(action = routes.AdminProductCtrl.updateProductSubmit(id), 'class -> "form-horizontal", 'role -> "form", 'enctype -> "multipart/form-data") {
							@CSRF.formField
					<form>
									
							<div class="row">
		
												<div class="col-sm-12 form-group">
														<input type="text" name="Name" class="form-control input-xs" placeholder="Name" value="@updateProductForm("name").value">
												</div>
		
													<div class="col-sm-12 form-group">
															@inputRadioGroup(updateProductForm("category"), options = options("TV"->"TV","TV Accessories"->"TV Accessories","Computing"->"Computing","Phone"->"Phone","Phone_Accessories"->"Phone Accessories","Tablets"->"Tablets"),'_label -> "Category",'class -> "form-control")
															</div>
		
									<div class="col-sm-12 form-group">
											<input type="text" name="descriptionS" class="form-control input-xs" placeholder="Short Description" value="@updateProductForm("descriptionS").value">
									</div>
									<div class="col-sm-12 form-group">
											<textarea type="text" name="descriptionL" class="form-control input-xs" placeholder="Long Description" rows="8">@updateProductForm("descriptionL").value</textarea>
									</div>
									
									<div class="col-sm-12 form-group">
													<input type="number" name="stock" class="form-control input-xs" placeholder="Stock" min="0" value="@updateProductForm("stock").value">
											</div>
									<div class="col-sm-12 form-group">
											<input type="number" name="price" class="form-control input-xs" placeholder="Price" min="0" step="0.01" value="@updateProductForm("price").value">
									</div>
									
									<div class="col-sm-12 form-group">
											<input type="number" name="salePrice" class="form-control input-xs" placeholder="Sale Price" min="0" step="0.01"value="@updateProductForm("salePrice").value">
									</div>
		
									<div class="col-sm-12 form-group">
											<input type="number" name="onSale" class="form-control input-xs" min="0" max="1" placeholder="On Sale?" value="@updateProductForm("onSale").value">
									</div>
		
									<div class="col-sm-12 form-group">
											<input type="text" name="spec1" class="form-control input-xs" placeholder="Specification 1" value="@updateProductForm("spec1").value">
									</div>
		
									<div class="col-sm-12 form-group">
											<input type="text" name="spec2" class="form-control input-xs" placeholder="Specification 2" value="@updateProductForm("spec2").value">
									</div>
									
									<div class="col-sm-12 form-group">
											<input type="text" name="spec3" class="form-control input-xs" placeholder="Specification 3" value="@updateProductForm("spec3").value">
									</div>
									
				<label>Image</label>
				<input class="btn-sm btn-default" type="file" name="upload">
			
				<br><br>
		
			<div class="col-sm-12 form-group">
			<div class="actions">
					<input type="submit" value="Save" class="btn btn-success pull-right">
					<a href="@routes.HomeController.index()">
						<button class="btn btn-danger pull-left">Cancel</button>
					</a>
			</div>
		</div>
							</div>
		
		
					</form>
			}
		</div>
		</div>
		</main>
}


