@(user: models.users.User)
@main("cart",user){
    <main>
        <div class="container">
            <div class="jumbotron">   
              <h1>Thank you for your feedback</h1>
                <div class="row">
                  
                    <div class="col-md-12">
                      @if(flash.containsKey("success")) {
                          <div class="alert alert-success">
                              @flash.get("success")
                          </div>
                      } 
                  
                            
                            <div style="padding:1em 1em 1em  0em;"><h3>Thank you for getting in contact with us. A member of staff will be in contact with you within the next 24 Hours</h3></div>
                            <a href="@routes.HomeController.index()"style="width:25%;" class="btn btn-danger btn-block ">Return To Home Page</a>
                                
                              
                    </div> 
                </div>
            </div>            
        </div>  
    </main>                       

}